age.agekey
*talconfig.json
talconfig.json
patches/sopssecret.yaml
*patches/sopssecret.yaml
*patches/all.yaml
patches/all.yaml
^clustertool.exe
^clustertool*
^clustertool
*clustertool.exe
clustertool.exe
clustertool
sopssecret.yaml
sopssecret*
*sopssecret*
sopsscret.secret.yaml
sopssecret.secret.yaml
mounts/
kubeconfig
ssh-public-key.txt
.decrypted~*.yaml
tcdbinfo.sh